<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
    <div class="row">
      <%= link_to 'Edit Stat', edit_user_swim_stat_path(current_user, @swim_stat), class: "btn btn-default side-nav-btn" %>
      <%= link_to 'Delete Stat', user_swim_stat_path(current_user, @swim_stat), method: :delete, data: { confirm: "Are you aure about deleting this stat?"}, class: "btn btn-default side-nav-btn" %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <%= form_for [current_user, @swim_stat], method: :patch, class: "form-horizontal" do |form| %>
        <%= render partial: "form", locals: { form: form } %>
        <%= render partial: "form_button", locals: { message: "Update Stat"} %>
      <% end %>
    </div>
  </div>
</div>