<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
    <div class="row">
      <%= link_to 'Add Stat', new_user_swim_stat_path(current_user), class: "btn btn-default side-nav-btn" %>
    </div>
  </div>

  <div class="col-md-7">
    <div class="row">
      <div class="col-md-2 head">DATE</div>
      <div class="col-md-3 head">SET DISTANCE</div>
      <div class="col-md-2 head">SET TIME</div>
      <div class="col-md-3 head">TOTAL DISTANCE</div>
      <div class="col-md-2 head">SWIM TIME</div>
    </div>

    <% @swim_stats.each do |stat| %>
    <div class="row">
      <div class="col-md-2"><%= link_to stat.date, user_swim_stat_path(current_user, stat) %></div>
      <div class="col-md-3"><%= stat.set_distance %></div>
      <div class="col-md-2"><%= stat.set_time %></div>
      <div class="col-md-3"><%= stat.total_distance %></div>
      <div class="col-md-2"><%= stat.swim_time %></div>
    </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="head">USMS RECORDS</div>
      <div class="col-md-offset-1">
        50 M: 00:22.73 | 2009 | Felipe Delgado</div>
      <div class="col-md-offset-1">
        100 M: 00:50.72 | 2009 | Michael F Picotte</div>
      <div class="col-md-offset-1">
        200 M: 00:50.72 | 2003 | Erik Hochstein</div>
      <div class="col-md-offset-1">
        400 M: 03:57.77 | 2003 | Erik Hochstein</div>
      <div class="col-md-offset-1">
        800 M: 08:16.19 | 2009 | Alex G Kostich</div>
      <div class="col-md-offset-1">
        1600 M: 15:56.57 | 2009 | Alex G Kostich</div>
    </div>

    <div class="row">
      <div class="head">MY RECORDS</div>
      <div class="col-md-offset-1">WORST: </div>
        <%= render partial: "worst_time", locals: {distance: "50 M:", time: "warm_50"} %>
        <%= render partial: "worst_time", locals: {distance: "100 M:", time: "warm_100"} %>
        <%= render partial: "worst_time", locals: {distance: "200 M:", time: "warm_200"} %>
        <%= render partial: "worst_time", locals: {distance: "400 M:", time: "warm_400"} %>
        <%= render partial: "worst_time", locals: {distance: "500 M(1):", time: "first_500"} %>
        <%= render partial: "worst_time", locals: {distance: "500 M(2):", time: "second_500"} %>
        <%= render partial: "worst_time", locals: {distance: "500 M(3):", time: "third_500"} %>

        <%= render partial: "worst_time", locals: {distance: "100 M(S):", time: "set_100"} %>
        <%= render partial: "worst_time", locals: {distance: "300 M(S):", time: "set_300"} %>
        <%= render partial: "worst_time", locals: {distance: "800 M:", time: "first_800_time"} %>
        <%= render partial: "worst_time", locals: {distance: "800 M(2):", time: "second_800_time"} %>
        <%= render partial: "worst_time", locals: {distance: "1000 M:", time: "first_km_time"} %>
        <%= render partial: "worst_time", locals: {distance: "1500 M:", time: "time_1500"} %>
        <%= render partial: "worst_time", locals: {distance: "1600 M:", time: "mile_time"} %>
      <div class="col-md-offset-1">BEST: </div>
        <%= render partial: "best_time", locals: {distance: "50 M:", time: "warm_50"} %>
        <%= render partial: "best_time", locals: {distance: "100 M:", time: "warm_100"} %>
        <%= render partial: "best_time", locals: {distance: "200 M:", time: "warm_200"} %>
        <%= render partial: "best_time", locals: {distance: "400 M:", time: "warm_400"} %>
        <%= render partial: "best_time", locals: {distance: "500 M(1):", time: "first_500"} %>
        <%= render partial: "best_time", locals: {distance: "500 M(2):", time: "second_500"} %>
        <%= render partial: "best_time", locals: {distance: "500 M(3):", time: "third_500"} %>

        <%= render partial: "best_time", locals: {distance: "100 M(S):", time: "set_100"} %>
        <%= render partial: "best_time", locals: {distance: "300 M(S):", time: "set_300"} %>
        <%= render partial: "best_time", locals: {distance: "800 M:", time: "first_800_time"} %>
        <%= render partial: "best_time", locals: {distance: "800 M(2):", time: "second_800_time"} %>
        <%= render partial: "best_time", locals: {distance: "1000 M:", time: "first_km_time"} %>
        <%= render partial: "best_time", locals: {distance: "1500 M:", time: "time_1500"} %>
        <%= render partial: "best_time", locals: {distance: "1600 M:", time: "mile_time"} %>
    </div>
  </div>
</div>


(swimstats#index page)

