<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
  </div>
  <div class="col-md-10">
    <% if @swim_stat.errors.any? %>
      <% @swim_stat.errors.full_messages.each do |msg| %>
        <%= msg %>
        <% end %>
    <% end %>
    <div class="row">
      <%= form_for [current_user, @swim_stat], class: "form-horizontal" do |form| %>

        <%= render partial: 'form', locals: { form: form } %>

        <div class="form-group">
          <div class="col-md-offset-10 col-md-2">
            <%= form.submit :'Add Stat', class: "btn btn-default" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
