<div class="container-fluid">
  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
    <div class="row" id="swim-edit">
      <%= link_to 'Edit Stat', edit_user_swim_stat_path(current_user, @swim_stat), class: "btn btn-default side-nav-btn" %>
      <%= render partial: "shared/delete_stat_button", locals: { path: user_swim_stat_path(current_user, @swim_stat) } %>
    </div>
  </div>
  <div class="col-md-10" id="swim-show">
    <div class="col-md-6">
      <%= render partial: "attribute_display", locals: { label: "DATE", attribute: @swim_stat.date } %>
      <%= render partial: "attribute_display", locals: { label: "WARM UP 50", attribute: @swim_stat.warm_50 } %>
      <%= render partial: "attribute_display", locals: { label: "WARM UP 100", attribute: @swim_stat.warm_100 } %>
      <%= render partial: "attribute_display", locals: { label: "WARM UP 200", attribute: @swim_stat.warm_200 } %>
      <%= render partial: "attribute_display", locals: { label: "WARM UP 400", attribute: @swim_stat.warm_400 } %>
      <%= render partial: "attribute_display", locals: { label: "PRE SET 50", attribute: @swim_stat.pre_50 } %>
      <%= render partial: "attribute_display", locals: { label: "FIRST 500", attribute: @swim_stat.first_500 } %>
      <%= render partial: "attribute_display", locals: { label: "SET 300", attribute: @swim_stat.set_300 } %>
      <%= render partial: "attribute_display", locals: { label: "SECOND 500", attribute: @swim_stat.second_500 } %>
      <%= render partial: "attribute_display", locals: { label: "THIRD 500", attribute: @swim_stat.third_500 } %>
      <%= render partial: "attribute_display", locals: { label: "FOURTH 500", attribute: @swim_stat.fourth_500 } %>
      <%= render partial: "attribute_display", locals: { label: "LAST 100 SET", attribute: @swim_stat.set_100 } %>
      <%= render partial: "attribute_display", locals: { label: "POST SET 50", attribute: @swim_stat.post_50 } %>
      <%= render partial: "attribute_display", locals: { label: "COOL 400", attribute: @swim_stat.cool_400 } %>
      <%= render partial: "attribute_display", locals: { label: "COOL 200", attribute: @swim_stat.cool_200 } %>
      <%= render partial: "attribute_display", locals: { label: "COOL 100", attribute: @swim_stat.cool_100 } %>
      <%= render partial: "attribute_display", locals: { label: "COOL 50", attribute: @swim_stat.cool_50 } %>
      <%= render partial: "attribute_display", locals: { label: "SET DISTANCE", attribute: @swim_stat.set_distance } %>
      <%= render partial: "attribute_display", locals: { label: "TOTAL DISTANCE", attribute: @swim_stat.total_distance } %>
    </div>
    <div class="col-md-6">
      <%= render partial: "attribute_display", locals: { label: "FIRST 800 TIME", attribute: @swim_stat.first_800_time } %>
      <%= render partial: "attribute_display", locals: { label: "SECOND 800 TIME", attribute: @swim_stat.second_800_time } %>
      <%= render partial: "attribute_display", locals: { label: "FIRST KM TIME", attribute: @swim_stat.first_km_time } %>
      <%= render partial: "attribute_display", locals: { label: "SECOND KM TIME", attribute: @swim_stat.second_km_time } %>
      <%= render partial: "attribute_display", locals: { label: "1500 TIME", attribute: @swim_stat.time_1500 } %>
      <%= render partial: "attribute_display", locals: { label: "MILE TIME", attribute: @swim_stat.mile_time } %>
      <%= render partial: "attribute_display", locals: { label: "SET TIME", attribute: @swim_stat.set_time } %>
      <%= render partial: "attribute_display", locals: { label: "SWIM TIME", attribute: @swim_stat.swim_time } %>
      <% if @swim_stat.rest %>
      <%= render partial: "attribute_display", locals: { label: "REST TIME", attribute: @swim_stat.rest } %>
      <% end %>
      <%= render partial: "attribute_display", locals: { label: "TOTAL TIME", attribute: @swim_stat.total_time } %>
    </div>
  </div>
</div>

(swim_stat#show page)