<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
    <%= form_for :user, url: users_path, class: "form-horizontal" do |form| %>
      <%= render partial: "shared/error_messages", locals: { object: @user } %>
      <%= render partial: "shared/form_group", locals: { form: form, attribute: :name } %>
      <%= render partial: "shared/form_group", locals: { form: form, attribute: :email } %>
      <%= render partial: "shared/form_group_password", locals: { form: form, attribute: :password } %>
      <%= render partial: "form_button" %>
    <% end %>
    </div>
  </div>
</div>