
<div class="row">
  <div class="col-md-12">

    <%= render partial: "shared/stats_link_to",
                        locals: { link_title: "Home",
                                  path: user_path(current_user) } %>
    <%= render partial: "shared/stats_link_to",
                        locals: { link_title: "Smoking Stats",
                                  path: user_smoker_stats_path(current_user) } %>
    <%= render partial: "shared/stats_link_to",
                        locals: { link_title: "Swim Stats",
                                  path: user_swim_stats_path(current_user) } %>
    <%= render partial: "shared/stats_link_to",
                        locals: { link_title: "Ped Stats",
                                  path: user_ped_stats_path(current_user) } %>
    <%= render partial: "shared/stats_link_to",
                        locals: { link_title: "Debts",
                                  path: user_debts_path(current_user) } %>

  </div>
</div>