<div class="container-fluid">
  <div class="col-md-2">
    <%= render '/shared/side_navbar' %>
    <div class="row">
      <%= link_to 'Delete Stat', user_smoker_stat_path(current_user, @smoker_stat), class: "btn btn-default side-nav-btn", method: :delete, data: { confirm: "Are you sure you want to do this?"} %>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-4">
    <%= form_for [current_user, @smoker_stat], method: :patch, class: "form-horizontal" do |form| %>
      <%= render partial: "form", locals: { form: form } %>
      <%= render partial: "form_button", locals: { message: "Update Stat"} %>
    <% end %>
  </div>
</div>