<div class="container-fluid">
  <%= render partial: "shared/left_column",
              locals: { message: "Add Stat",
                        path: new_user_smoker_stat_path(current_user) } %>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3 head">DATE</div>
      <div class="col-md-3 head">AMOUNT</div>
      <div class="col-md-3 head">CITY COST</div>
      <div class="col-md-3 head">BURBS COST</div>
    </div>

    <div class="pre-scrollable">
      <% @smoker_stats.each do |stat| %>
      <div class="row">
        <div class="col-md-3"><%= link_to "#{stat.date}", edit_user_smoker_stat_path(current_user, stat) %></div>
        <div class="col-md-3"><%= stat.amount %></div>
        <div class="col-md-3"><%= stat.cost("city") %></div>
        <div class="col-md-3"><%= stat.cost("burbs") %></div>
      </div>
      <% end %>
    </div>

    <div class="row totals" >
      <div class="col-md-3 head">Totals:</div>
      <div class="col-md-3"><%= current_user_amount %></div>
      <div class="col-md-3"><%= current_user_cost("city") %></div>
      <div class="col-md-3"><%= current_user_cost("burbs") %></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <%= render partial: "averages_and_ytd",
                 locals: { label: "DAILY AMOUNT AVE:" } %>
      <%= render partial: "user_daily_ave_cost",
                 locals: { label: "DAILY AVE COST (CITY)", location: "city" } %>
      <%= render partial: "user_daily_ave_cost",
                 locals: { label: "DAILY AVE COST (BURBS)", location: "burbs" } %>
      <%= render partial: "user_amount",
                 locals: { label: "YTD AMOUNT", year: current_year } %>
      <%= render partial: "user_cost",
                 locals: { label: "YTD COST (CITY)", year: current_year, location: "city" } %>
      <%= render partial: "user_cost",
                 locals: { label: "YTD COST (BURBS)", year: current_year, location: "burbs" } %>
      <%= render partial: "user_amount",
                 locals: { label: "LAST YEAR AMOUNT", year: last_year } %>
      <%= render partial: "user_cost",
                 locals: { label: "LYR COST (CITY)", year: last_year, location: "city" } %>
      <%= render partial: "user_cost",
                 locals: { label: "LYR COST (BURBS)", year: last_year, location: "burbs" } %>
    </div>
  </div>
</div>




<div class="container-fluid">

</div>
smoker_stats/index