<% if flash[:message] %>
  <div><%= flash[:message] %></div>
<% end %>



<div class="container-fluid">
  <div class="col-md-2">
    <%= render '/shared/side_navbar' %>
  </div>

  <div class="col-md-offset-1 col-md-4">
    <%= form_for [current_user, @smoker_stat], class: "form-horizontal" do |form| %>
      <%= render partial: 'form', locals: { form: form } %>
      <div class="form-group">
        <div class="col-md-offset-9 col-md-4">
          <%= button_to 'Add Stat', new_user_smoker_stat_path(current_user, @smokerstat), class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


smoker_stats/new