<%= render "shared/flash_message" %>

<div class="container-fluid">
  <div class="col-md-2">
    <%= render '/shared/side_navbar' %>
  </div>

  <div class="col-md-offset-1 col-md-4" id="smkr-form">
    <%= form_for [current_user, @smoker_stat], class: "form-horizontal" do |form| %>
      <%= render partial: "form", locals: { form: form } %>
      <%= render partial: "form_button",
                  locals: { div_class: "col-md-offset-9 col-md-4",
                            message: "Add Stat",
                            path: new_user_smoker_stat_path(current_user, @smokerstat)} %>
    <% end %>
  </div>
</div>


smoker_stats/new